html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;

}

body {
  background: url('/assets/images/bg-1.jpeg');
  background-size: cover;
  
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  height: 800px;
  width: 800px;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.svg-base-container {
  height: 100%;
  width: 100%;
  background: rgba(60, 5, 122, 0.356);
  stroke: #fff;
  fill: #fff;
  stroke-width: 10px;
}


/* Basic styles */

.line-style-1 {
  stroke: rgb(0, 0, 0);
  stroke-width: 10px;
}




.test-line {
  stroke: blue;
  stroke-width: 15px;
  
}

.svg-test {
  z-index: 999;
  stroke-width: 10px;
  height: 100%;
  width: 100%;
  background: rgba(150, 140, 140, 0.589)
}
