html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;

}

body {
  background: url('/assets/images/bg-1.jpeg');
  background-size: cover;
  
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  height: 100%;
  width: 100%;
}

.content-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.svg-base-container {
  height: 100%;
  width: 100%;
  background: rgba(60, 5, 122, 0.356);
  stroke: #fff;
  fill: #fff;
  stroke-width: 10px;
}


/* Basic styles */

.line-style-1 {
  stroke: rgb(0, 0, 0);
  stroke-width: 10px;
}




.test-line {
  stroke: blue;
  stroke-width: 15px;
  
}

.svg-test {
  stroke-width: 20px;
  height: 100%;
  width: 100%;
  background: rgba(150, 140, 140, 0.589)
}

.rect-test {
  stroke: black;
  fill: blueviolet;
  transition: fill 1s ease-in-out;

}

.rect-test:hover {
  stroke: black;
  fill: rgb(43, 128, 226);
}

.rect-test2 {
  stroke-width: 1;
  left: 0;
  transition: stroke 3s ease-in-out, fill 3s ease-in-out;

}

.rect-test2:hover {
  fill: rgb(43, 128, 226);
  transition: stroke 100ms ease-in-out, fill 100ms ease-in-out;

}

.rect-test-ani-1 {
  fill: red;
}

.rect-test-ani-2 {
  fill: orange;
}

.rect-test-ani-3 {
  fill: yellow;
}

.rect-test-ani-4 {
  fill: green;
}

.rect-test-ani-5 {
  fill: blue;
}

.rect-test-ani-6 {
  fill: indigo;
}

.rect-test-ani-7 {
  fill: violet;
}

